.projectsContainer {
    background-color: #262626;
    padding: 24px;
    border: 3px solid rgba(165, 25, 145);
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.35);
}

.projectsContainer .projectsTitle{
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #262626;
    padding: 24px;
}

.projectsContainer .projectsTitle h1{
    color: #5f92bd;  
    font: bold Arial;
    text-decoration: underline;
}

.projectsContainer .projectContainer{
    height: auto;
    display: flex;
    flex-direction: row;
    background-color: #262626;
    padding: 24px;
}

.projectsContainer .projectContainer .projectText{
    height: auto;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.projectsContainer .projectContainer .projectText .projectTitle{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 24px;
}

.projectsContainer .projectContainer .projectText .projectTitle h2{
    color: #ffffff;
    font: bold 32px Arial;

}

.projectsContainer .projectContainer .projectText .projectDescription{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center; 
    padding: 24px;
}

.projectsContainer .projectContainer .projectText .projectDescription p{
    text-indent: 2em;
    color: #ddd;
    font: Arial;
}

.projectsContainer .projectContainer .projectImg{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center; 
}

.projectsContainer .projectContainer .projectImg img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}












.projectContainer {
  display: flex;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.projectContainer:hover {
  transform: scale(1.02);
  transition: 0.2s ease;
}