
.aboutContainer{
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #262626;
    padding: 24px;
    border: 3px solid rgba(165, 25, 145);
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.35);
}

.aboutContainer .aboutTitle {
    height: auto;
    display: flex;
    flex-direction: row;
    background-color: #262626;
    padding: 24px;
}

.aboutContainer .aboutTitle h1 {
    color: #5f92bd;
}

.aboutContainer .aboutBody {
    height: auto;
    display: flex;
    flex-direction: row;
    background-color: #262626;
    /* padding: 24px; */
}

.aboutContainer .aboutBody .aboutParagraph{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 24px;
    justify-content: center;
    align-items: center; 
}

.aboutContainer .aboutBody .aboutParagraph p{
    text-indent: 2em;
    color: #ddd;
}

.aboutContainer .aboutBody .aboutProfile{
    display: flex;
    flex: 1;
    padding: 24px;
    justify-content: center;
    align-items: center; 
}

.aboutContainer .aboutBody .aboutProfile img{
    height: 100%;
    width: 100%;
}

